.vmb footer {
  position: relative;
  text-align: right;
  bottom: 0;
  width: 100%;
  z-index: 1030;
}

.vmb .site-footer {
  padding-right: 2.7em;
  padding-bottom: 0.5em;
  font-size: 1.3em;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

.vmb .site-footer a {
    color: rgb(255, 255, 255);
}

.vmb .site-footer {
    color: rgb(150, 150, 150);
}


@media (max-width: 767px) {
  .vmb .site-footer {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 0.3em;
    font-size: 1em;
  }
  .vmb #slides .slides-pagination {
    margin-bottom: 1.4em;
  }
}
