.vmb * {
	font-family: 'Source Sans Pro', sans-serif;
}

.vmb {
	background-color: #F1E8E2;
}

.vmb .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

@font-face {
	font-family: 'supernett';
	src: url('fonts/supernett-light.otf') format('opentype');
}

@font-face {
	font-family: 'supernett-italic';
	src: url('fonts/supernett-italic.otf') format('opentype');
}

.btn.btn-primary {
	background: none;
	border-color: #EE4D00;
	color: #EE4D00;
}

.btn.btn-primary:hover {
	background-color: #969696;
}

.btn.btn-big {
  text-transform: uppercase;
  font-size: 24px;
}
