.vmb * {
	font-family: 'Source Sans Pro', sans-serif;
}

.vmb {
	background-color: #fff;
}

.vmb .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

@font-face {
	font-family: 'supernett';
	src: url('fonts/supernett-light.otf') format('opentype');
}

@font-face {
	font-family: 'supernett-italic';
	src: url('fonts/supernett-italic.otf') format('opentype');
}

.btn.btn-primary {
	background: none;
	border-color: #EE4D00;
	color: #EE4D00;
}

.btn.btn-primary:hover {
	background-color: #969696;
}

.btn.btn-big {
  text-transform: uppercase;
  font-size: 24px;
}


/*Normale Website*/
.page-header {
	background: #c05701 url(../images/header_bg.png) no-repeat top center;
	background: -moz-radial-gradient(center, ellipse cover,  #f79f5b 0%, #f88d38 38%, #bb5a13 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f79f5b), color-stop(38%,#f88d38), color-stop(100%,#bb5a13));
	background: -webkit-radial-gradient(center, ellipse cover,  #f79f5b 0%,#f88d38 38%,#bb5a13 100%);
	background: -o-radial-gradient(center, ellipse cover,  #f79f5b 0%,#f88d38 38%,#bb5a13 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #f79f5b 0%,#f88d38 38%,#bb5a13 100%);
	background: radial-gradient(ellipse at center,  #f79f5b 0%,#f88d38 38%,#bb5a13 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f79f5b', endColorstr='#bb5a13',GradientType=1 );

	color:#fff;
	border-bottom:5px solid #fff;
	text-align:center;
}
