.vmb * {
	font-family: 'Source Sans Pro', sans-serif;
}

.vmb {
	background-color: #fff;
}

.vmb .center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

@font-face {
	font-family: 'supernett';
	src: url('fonts/supernett-light.otf') format('opentype');
}

@font-face {
	font-family: 'supernett-italic';
	src: url('fonts/supernett-italic.otf') format('opentype');
}

.btn.btn-primary {
	background: none;
	border-color: #EE4D00;
	color: #EE4D00;
}

.btn.btn-primary:hover {
	background-color: #969696;
}

.btn.btn-big {
  text-transform: uppercase;
  font-size: 24px;
}


/*Normale Website*/

.page-header {
	color:#fff;
	border-bottom: 1px solid #000;

	margin: 0;
	padding: 0;
}

.page-header h1 {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 70px;
}

.headerbild {
	overflow: hidden;
	height: 30rem;
	position: relative;
}

.headerbild img{
	position: absolute;
}

.overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feb568+0,e88102+49,fd8905+94,fd8905+94,b67102+100 */
background: #feb568; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #feb568 0%, #e88102 49%, #fd8905 94%, #fd8905 94%, #b67102 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  #feb568 0%,#e88102 49%,#fd8905 94%,#fd8905 94%,#b67102 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  #feb568 0%,#e88102 49%,#fd8905 94%,#fd8905 94%,#b67102 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb568', endColorstr='#b67102',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.8;
}

.overlay-grad {
	background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top,#222,#111);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#222),to(#111));
  background-image: -webkit-linear-gradient(top,#222,#111);
  background-image: -o-linear-gradient(top,#222,#111);
  background-image: linear-gradient(to bottom,#222,#111);
  background-repeat: repeat-x;
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  /*border-color: #252525;*/
}
