#slides .slides-navigation {
  background: none;
}

#slides .slides-pagination {
  background: none;
}

#slides .slides-navigation a:hover.next {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

#slides .slides-navigation a:hover.prev {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

#slides a img {
  position: relative;
  padding: 0 2em 0 2em;
  top: 46%;
}

/* Image Replacements für Logos & Co */

#fairwaltungskatalog-logo {
  background-image: url(../../gfx/carousel/faiwaltungskatalog-logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 400px;
  padding-top: 17.5%;
  height: 0;
  text-indent: -9999px;
}



/* Design der Texte */

/* Schatten für den Container */

#slides .img-shadow {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0+25,0.4+77,0.4+92,1+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.4) 77%, rgba(0,0,0,0.4) 92%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.4) 77%,rgba(0,0,0,0.4) 92%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.4) 77%,rgba(0,0,0,0.4) 92%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

/* Schatten für die Texte*/

#slides .container-heading h4,
#slides .container-heading .subtitle,
#slides .container-heading .subtitle em,
#slides .slogan
{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
}


#slides .container-centered {
  margin: 0 15%;
  width: 70%;
  position: absolute;
  top: 40%;

}

#slides .container-centered *{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
}

#slides .container-heading {
  color: #fff;
  text-transform: uppercase;
}

#slides .container-heading h4 {
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 3px dotted #FF5E00;
}

#slides .container-heading .subtitle {
  font-family: 'supernett';
  color: #FFF;
}

#slides .container-heading .subtitle em {
  font-family: 'supernett-italic';
  font-style: normal;
}

#slides .container-heading .subtitle-2 {
  font-family: 'supernett';
  color: #FFF;
  background-color: #FF5E00;
}

#slides .container-heading .subtitle-2 em {
  font-family: 'supernett-italic';
  color: #FFF;
  font-style: normal;
}



@media screen and (min-width: 480px) {
  #slides .container-heading h4 {
    font-size: 150%;
  }
  #slides .container-heading p {
    font-size: 200%;
  }
}


@media screen and (min-width: 850px) {
  #slides .container-heading h4 {
    font-size: 230%;
  }
  #slides .container-heading p {
    font-size: 370%;
  }
}

#slides .slogan {
  font-family: 'supernett';
  font-size: 30px;
  color: #fff;
}


/* PAGINATION */

.slides-pagination a {
  border-color: #ddd;
}

.slides-pagination a.current {
  background-color: #ddd;
}

nav.slides-pagination {
  padding-bottom: 5px;
}