/***** Player Styling *****/

#video {
  cursor: pointer
}

#videoContainer {
  max-width: 1280px;
  height: auto;
  cursor: pointer
}

video#video {
  width: 100%!important;
  height: auto!important
}

#all-videos .media {
  margin-bottom: 50px
}
