/***** Seiten Styling *****/

.row.site {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 110px;
}

.site-content {
  max-width: 1025px;
  margin-left: auto;
  margin-right: auto;
}

.entry-content {
  font-size: 18px;
  line-height: 35px;
}

.entry-content h4 {
  margin-top: 35px;
}

.entry-content h3 {
  margin-top: 45px;
}

.entry-content h2 {
  margin-top: 55px;
}

.entry-content h3 + h4 {
  margin-top: 20px;
}



.sidepicture {
  max-width: 312px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px){
  .videosidebar li {
    float: none;
    width: 50%;
    float: left;
  }

  .entry-content {
    font-size: 16px;
    line-height: 28px;
  }
}



/***** Player Styling *****/

#controlContainer, #controls {
  width: 195px;
  height: 29px
}

#controls div, #video {
  cursor: pointer
}

#videoContainer {
  max-width: 1000px;
  height: auto;
  margin: 3px auto 0;
  cursor: pointer
}

#controlContainer {
  margin: 10px auto 0
}

#controls div {
  float: left;
  width: 39px;
  height: 29px;
  text-align: center
}

img#img-logo {
  height: 50px
}

video#video {
  width: 100%!important;
  height: auto!important
}

#all-videos .media {
  margin-bottom: 50px
}

#all-videos h2 {
  margin-top: 20px
}

#controlContainer {
  margin-bottom: 30px;
}

.page-header h2 {
  font-family: 'supernett';
  font-size: 2.7em;
  padding-top: 0.5em;
}

.sidepicture {
  width:100%;
  border: border-bottom: 3px solid #FF5E00;
}

ul.videosidebar
{
  list-style-type: none;
  padding: 0;
}

.videosidebar li {

}
