#controlContainer, #controls {
  width: 195px;
  height: 29px
}
#controls div, #video {
  cursor: pointer
}
#videoContainer {
  max-width: 1000px;
  height: auto;
  margin: 3px auto 0;
  cursor: pointer
}
#controlContainer {
  margin: 10px auto 0
}
#controls div {
  float: left;
  width: 39px;
  height: 29px;
  text-align: center
}
img#img-logo {
  height: 50px
}
video#video {
  width: 100%!important;
  height: auto!important
}
#all-videos .media {
  margin-bottom: 50px
}
#all-videos h2 {
  margin-top: 20px
}

#controlContainer {
  margin-bottom: 30px;
}

.page-header h2 {
    font-family: 'supernett';
    font-size: 2.7em;
    padding-top: 0.5em;
  }

.sidepicture {
  width:100%;
  border: border-bottom: 3px solid #FF5E00;
}

ul.videosidebar 
{
    list-style-type: none;
}
